body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  padding: 0;
  background-image: url('pierwsze.jpg');
  background-size: cover; 
  background-position: center; 
}

.container {
  text-align: center;
}


.centered-button {
  padding: 10px 20px;
  font-size: 50px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.centered-button:hover {
  background-color: red; 
  transform: scale(1.1); 
}

.centered-button2 {
  padding: 10px 20px;
  font-size: 50px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.centered-button2:hover {
  background-color: red; 
  transform: scale(1.1); 
}


  

