body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    background-image: url('pierwsze.jpg');
    background-size: cover; 
    background-position: center; 
  }


  .card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #ddd;
    display: inline-block;
    cursor: pointer;
  }

  .connected {
    background-color: #6ed56d;
  }

  .incorrect {
    background-color: #ff6666;
  }